@bgimage: url(/static/images/bg.jpg);
@htmlBody: @bgimage fixed;
@htmlBodyMobile: @bgimage repeat;
@bgcolor: black;
@imageBack: rgba(255,255,255,0.2);
@navBack: rgba(1,1,1,0.7);
@bodyWidth: 750px;

html{
    background: @bgcolor @htmlBody;
    color: lightgray;
}

#image{
    background: @imageBack;
    margin: 0 auto;
    margin-top: 60px;
    padding-top: 60px;
    max-width: @bodyWidth;
    min-width: 700px;
    height: 1505px;
    box-shadow: 4px 0px rgba(1,1,1,0.1);
}


#image-img img{
    box-shadow: 3px 3px rgba(0,0,0,0.2);
    z-index: -1;
}

#image-img p{
    position: absolute;
    display: none;
    text-shadow: 3px 3px rgba(0,0,0,0.2);
    color: white;
}

#image-img:hover p{
    display: block;
}

#image-img:hover img{
    background: rgb(255,255,255);
    opacity: 0.2;
}

#image h1, #image .main-image{
    text-align: center;
}

#main-nav li, #main-nav ul{
    display: inline;
}

.menu-links{
    float: left;
    width: 25%;
} 

.menu-login{
    float: right;
    margin-right: 30px;
    width: 10%;
}

#main-nav li a{ 
    color: white; 
}

#main-nav{
    width: 100%;
    height: 60px;
    background: @navBack;
    display: block;
    top: 0px;
    left: 0px;
    position: fixed;

}

#main-nav .menu-title{
    width: 50%;
    position: absolute;
    text-align: center;
}


#main-nav .menu-title h1{
    display: inline;
    padding-top: 15px;
}


#main-nav article{
    display: inline-block;
    padding-top: 15px;
}

#nav-picmnt{
    font-size: 1.7em;
    margin-right: 0.25em;

}

#nav-picmnt a{
    text-decoration: none;
}

#img-usr-info p{
    margin-left: 150px;
    margin-bottom: 0;
}


@media screen and (max-width:1024px){
    #nav-picmnt{
	font-size: 2em;
	margin-right: 1px;
    }

    .menu-login{
	width: 20%;
	display: block;
	font-size: 1em;
    } 

    html{
	background: @bgcolor @htmlBodyMobile;
	color: lightgray;
    }
    

    #image-img p{
	position: relative;
	text-shadow: 3px 3px rgba(0,0,0,0.2);
	color: white;
	display: block;
    }


}