<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Picmnt {% block head_title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"  />
    {% block meta %}{% endblock %}
    
    {% block extra_css %}{% endblock %}

    {% load compress %}
    {% if debug %}
       <link rel="stylesheet/less" type="text/css" media="all" href="/static/less/style.less" />
       <link rel="stylesheet/less" type="text/css" media="only screen and (max-device-width: 480px)" href="/static/less/style-mobile.less" />
       <script src="/static/js/less.min.js"></script>
    {% else %}
       {% compress css %}
           <link rel="stylesheet" type="text/less" media="all" href="/static/less/style.less" />
	   <link rel="stylesheet" type="text/less" media="only screen and (max-device-width: 480px)" href="/static/less/style-mobile.less" />
       {% endcompress %}
    {% endif %}
	   
    {% block extra_less %}{% endblock %}

	   <script src="http://code.jquery.com/jquery.min.js"></script>
	   <script src="/static/js/picmnt.js"></script>
    {% block extra_js %}{% endblock %}
  </head>
  <body>
      <header>
	  <nav id="main-nav">
	      <article class="menu-links">
		  <ul>
		      <li id="nav-picmnt"><a href="/">Picmnt</a></li>
		  </ul>
	      </article>
	      <article class="menu-title">
		   {% block image-title %}{% endblock %}
	      </article>
	      <article class="menu-login">
		  <ul>
		      <li><a href="#">Login</a></li>
		      <li><a href="#">Register</a></li>
		  </ul>
	      </article>
	  </nav>
      </header>
    {% block content %}{% endblock %}
  </body>
</html>
      
