<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Picmnt {% block head_title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"  />
    {% block meta %}{% endblock %}
    
    {% block extra_css %}{% endblock %}

    {% load compress %}
    {% if debug %}
       <link rel="stylesheet/less" type="text/css" media="all" href="/static/less/style.less" />
       <script src="/static/js/less.min.js"></script>
    {% else %}
       {% compress css %}
           <link rel="stylesheet" type="text/less" media="all" href="/static/less/style.less" />
       {% endcompress %}
    {% endif %}
	   
    {% block extra_less %}{% endblock %}

    {% block extra_js %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
      
